.ol-attribution {
  display: none;
}
.center-btn {
  bottom: 0.5em;
  right: 0.5em;
}
.center-btn-icon {
  background-image: url(/center.svg);
  width: 80%;
  height: 80%;
  margin: auto;
  opacity: 0.9;
}
